
#main {
   text-align: center;
}

#sidebar {
    float: right;
    width: 100px;
}



#legend {
    padding: 10px 0 0 3px;
}

#sequence text,
#legend text {
    font-weight: 600;
    fill: #fff;
}

#chart {
    position: inherit;
    margin-bottom: 50px;;
}

#chart path {
    stroke: #fff;
}

#explanation {
    position: absolute;
    /* top: 260px;
    left: 305px; */
    text-align: justify;
    padding-bottom: 1px;
    color: rgb(7, 7, 7);
    z-index: -1;
    display:inline-block;
}

#percentage {
    font-size: 2.5em;
}

#amount {
    font-size: 1.2em;
}



